:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --blue-text: #2196f3;
  --white-color: #fff;
  --background-commands: #f5f4fa;
  --small-text: 14px;
  --middle-text: 16px;
  --large-text: 18px;
  --h1-text: 44px;
  --h2-text: 36px;
  --logo-size: 26px;
  --bgc-footer: #2f303a;
  --txt-logo: #000;
  --button-hover-color: #188ce8;
  --header-border: #ececec;
  --card-border: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-size: var(--small-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--blue-text);
}

.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: var(--small-text);
  border-bottom: 1px solid var(--header-border);
}

.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pages {
  margin-left: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page,
.contact {
  margin-left: 50px;
}

.page:first-child,
.contact:first-child {
  margin-left: 0;
}

.nav-link {
  color: var(--title-color);
}

.icon-mail::before {
  content: "";
  display: block;
  background-color: red;
  background-image: url(../images/envelope.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.icon-tel::before {
  content: "";
  display: block;
  background-color: green;
  background-image: url(../images/smartphone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-link {
  color: var(--main-text-color);
}

.active-page {
  color: var(--blue-text);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.logo {
  margin: 25px 0;
  color: var(--blue-text);
  font-family: "Raleway";
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header span {
  color: var(--txt-logo);
}

nav a {
  color: var(--title-color);
}

.section-title {
  background-image: url(../images/Img.jpg);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: var(--h1-text);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: var(--middle-text);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue-text);
  padding: 10px 32px;
  margin-top: 30px;
}

.order-button:hover,
.order-button:focus {
  background: var(--button-hover-color);
}

button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--middle-text);
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--background-commands);
  border: none;
  border-radius: 4px;
}

.active-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-text);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

button:hover,
button:focus {
  background-color: var(--blue-text);
  color: var(--white-color);
}

h2 {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h2-text);
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-items {
  margin-right: 30px;
}

.features-items::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-commands);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.features-items:last-child {
  margin-right: 0;
}

.features-text {
  margin-top: 10px;
}

.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--small-text);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-top: 30px;
}

.features-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.practices {
  padding-top: 0;
}

.practices-title {
  text-align: center;
  margin-bottom: 50px;
}

.practices-item {
  display: flex;
  gap: 30px;
}

.our-command {
  background-color: var(--background-commands);
}

.command-title {
  text-align: center;
}
.command-list {
  display: flex;
  gap: 30px;
}

.command-per-prof {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-person {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.command-profession {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.filters {
  display: flex;
  margin: 0 auto 50px;
  justify-content: center;
}

.button {
  padding: 6px 22px;
}

.filter {
  margin-right: 8px;
}
.filter:last-child {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.description {
  border: 1px solid var(--card-border);
  padding: 20px 24px;
  border-top: 0px;
}

.cards h3 {
  font-weight: 700;
  font-size: var(--middle-text);
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.cards p {
  font-size: var(--middle-text);
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  background: var(--bgc-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer span {
  color: var(--white-color);
}

.address {
  margin-top: 20px;
}

.address a {
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-text);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover a,
.footer-link:focus a {
  color: var(--blue-text);
}

.footer [href^="mail"],
.footer [href^="tel"] {
  opacity: 0.6;
}
