:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --blue-text: #2196f3;
  --white-color: #fff;
  --background-commands: #f5f4fa;
  --small-text: 14px;
  --middle-text: 16px;
  --large-text: 18px;
  --h1-text: 44px;
  --h2-text: 36px;
  --logo-size: 26px;
  --bgc-footer: #2f303a;
  --txt-logo: #000;
  --button-hover-color: #188ce8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-size: var(--small-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  background: var(--bgc-footer);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--blue-text);
}

.active-page {
  color: var(--blue-text);
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: var(--small-text);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navigation {
  margin-left: 215px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.pages {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.page,
.contact {
  padding: 0 15px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.contacts {
  margin-right: 215px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo {
  color: var(--blue-text);
  font-family: "Raleway";
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header span {
  color: var(--txt-logo);
}

nav a {
  color: var(--title-color);
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: var(--h1-text);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.order-button {
  display: block;
  margin: 30px auto 0 auto;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: var(--middle-text);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue-text);
}

.order-button:hover,
.order-button:focus {
  background: var(--button-hover-color);
}

button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--middle-text);
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--background-commands);
  border: none;
  border-radius: 4px;
}

.active-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-text);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

button:hover,
button:focus {
  background-color: var(--blue-text);
  color: var(--white-color);
}

h2 {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h2-text);
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-items {
  margin-right: 30px;
}

.features-items:last-child {
  margin-right: 0;
}

.features-text {
  margin-top: 10px;
}

.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--small-text);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* .features h3 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--small-text);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
} */

/* .features p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
} */

.practices-title {
  text-align: center;
  margin-bottom: 50px;
}

.practices-item {
  display: flex;
  justify-content: space-between;
}

.our-command {
  background-color: var(--background-commands);
}

.command-title {
  text-align: center;
}
.command-list {
  display: flex;
  justify-content: space-between;
}
.command-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-person {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.command-profession {
  padding-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* .our-command li {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .our-command h3 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
} */

/* .our-command p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--middle-text);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
} */

.cards h3 {
  font-weight: 700;
  font-size: var(--middle-text);
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.cards p {
  font-size: var(--middle-text);
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  background: var(--bgc-footer);
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 60px;
}

.footer span {
  color: var(--white-color);
}

address {
  margin-top: 20px;
}

address a {
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-text);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer [href^="mail"],
.footer [href^="tel"] {
  opacity: 0.6;
}
