.clients {
  padding: 60px 15px;
  @include desktop {
    padding: 94px 0;
  }
  &__container {
    width: 100%;
    margin: 0 auto;
    @include tablet {
      width: 768px;
      padding: 0 15px;
    }
    @include desktop {
      width: 1200px;
      padding: 0 15px;
    }
  }
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: $text-28;
    line-height: 1.17;
    margin-bottom: 30px;
    @include desktop {
      font-size: $h2-text;
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;
    @include tablet {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
  }
  &__link {
    display: flex;
    height: 100%;
    background-color: $white-color;
    border: 1px solid $icon;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: $icon;
    position: relative;
    transition: color $transition-duration $timing-function,
      border-color $transition-duration $timing-function;
    &:hover,
    &:focus {
      border-color: $blue-text;
    }
  }
  &__icon {
    fill: currentColor;
  }
}
