// h2 {
//   margin-bottom: 50px;
//   font-style: normal;
//   font-weight: 700;
//   font-size: $h2-text;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
//   color: $title-color;
// }
.features {
  padding: 94px 0;
  margin: 0 auto;
  // width: 480px;
  // margin-left: auto;
  // margin-right: auto;
  @include tablet {
    padding: 60px 0;
    //   width: 768px;
  }
  @include desktop {
    padding: 94px 0;
    margin: 0 auto;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include tablet {
      width: 768px;
    }
    @include desktop {
      width: 1200px;
      // margin: 0 auto;
      // padding: 0 15px;
    }
  }
  &__list {
    // padding: 60px 15px;
    // max-width: 480px;
    text-align: center;
    @include tablet {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }
    @include desktop {
      flex-wrap: nowrap;
      gap: 30px;
    }
  }
  &__items:not(:last-child) {
    // margin-bottom: 30px;
    @include desktop {
      margin-bottom: 0;
    }
  }
  &__items {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      margin-bottom: 0;
    }
  }

  &__item {
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: $background-commands;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    align-items: center;
  }
  &__title {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    // margin-top: 30px;
    @include tablet {
      text-align: left;
    }
  }
  &__text {
    // margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: $small-text;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-text-color;
    @include tablet {
      text-align: left;
    }
  }
}
