.footer {
  background: $bgc-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__block {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  display: block;
}

.site-logo--inverse {
  color: $white-color;
}

.footer__address {
  margin-top: 20px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: $small-text;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $white-color;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link:hover,
.footer__link:focus {
  color: $blue-text;
}

.footer [href^="mail"],
.footer [href^="tel"] {
  opacity: 0.6;
}

.footer__social-tittle {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white-color;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
}

.footer__social-block {
  display: block;
  margin-left: 70px;
}

.footer__social-list {
  display: flex;
  margin: 0;
}

.footer__social-item {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__icon {
  fill: $white-color;
}

.footer__subscription {
  display: block;
  width: 570px;
  margin-left: auto;
}

.footer__subscription-tittle {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white-color;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
}

.footer__subscription-form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer__input-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bgc-footer;
  transition: border $transition-duration $timing-function;
}

.footer__input-email:hover,
.footer__input-email:focus {
  border: 1px solid $blue-text;
  outline: none;
}

.footer__send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: $middle-text;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  color: $white-color;
  background-color: $blue-text;
  transition: background-color $transition-duration $timing-function;
}

.footer__send-btn:hover,
.footer__send-btn:focus {
  background-color: $button-hover-color;
}

.footer__icon-send {
  fill: currentColor;
  margin-left: 10px;
}
