.footer {
  background: $bgc-footer;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  @include mobile {
    padding: 60px 0;
    // width: 480px;
  }
  @include tablet {
    // width: 768px;
    padding-top: 54px;
    padding-bottom: 66px;
    // padding: 60px 0;
  }
  @include desktop {
    // width: 1600px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
  &__block {
    // width: 480px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    text-align: center;
    @include tablet {
      width: 768px;
      padding: 0 15px;

      // display: flex;
    }
    @include desktop {
      width: 1200px;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding: 0 15px;
    }
  }
  &__top {
    @include tablet {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
      align-items: baseline;
    }
    @include desktop {
      margin-bottom: 0;
      align-items: baseline;
    }
  }
  &__contacts {
    display: block;
    @include desktop {
      text-align: left;
    }
    > .site-logo {
      @include tablet {
        padding: 0;
        padding-bottom: 20px;
      }
    }
  }
  &__address {
    margin-top: 20px;
    font-weight: 400;
    font-size: $small-text;
    line-height: 1.7;
    @include tablet {
      // margin: 0;
    }
  }
  &__item:not(:last-child) {
    @include tablet {
      margin-bottom: 8px;
    }
    margin-bottom: 9px;
  }
  &__social-tittle {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $white-color;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 1.14;
    @include desktop {
      text-align: left;
    }
  }
  &__social-block {
    display: block;
    margin: 60px 0;
    // margin-left: 70px;
    @include tablet {
      margin: 0;
      // margin-top: 8px;
    }
    @include desktop {
      align-items: baseline;
      margin-left: 70px;
    }
  }
  &__social-list {
    display: flex;
    margin: 0;
  }
  &__social-item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  &__icon {
    fill: $white-color;
  }
  &__subscription {
    @include desktop {
      // align-items: baseline;
      width: 570px;
    }
    //   display: block;
    //   margin-left: auto;
  }
  &__subscription-tittle {
    text-transform: uppercase;
    color: $white-color;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 1.14;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 20px;
    }
    @include desktop {
      text-align: left;
    }
  }
  &__subscription-label {
    margin-bottom: 20px;
    width: 100%;

    @include desktop {
      margin: 0;
    }
  }
  &__subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    // gap: 12px;
    // @include tablet {
    //   margin: 20px 0;
    // }
    @include desktop {
      margin-top: 20px;
      flex-direction: row;
    }
  }
  // &__subscription-form {
  //   width: 100%;
  // }
  &__icon-send {
    fill: currentColor;
    margin-left: 10px;
  }
}

.site-logo--inverse {
  color: $white-color;
}

.footer [href^="mail"],
.footer [href^="tel"] {
  opacity: 0.6;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: $small-text;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $white-color;
  &:hover,
  &:focus {
    color: $blue-text;
  }
}

.footer__input-email {
  // margin-top: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bgc-footer;
  transition: border $transition-duration $timing-function;
  @include desktop {
    width: 360px;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    border: 1px solid $blue-text;
    outline: none;
  }
}

.footer__send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: $middle-text;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  // margin-left: auto;
  color: $white-color;
  background-color: $blue-text;
  transition: background-color $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
