.footer {
  background: $bgc-footer;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  &__block {
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    text-align: center;
  }
  &__contacts {
    display: block;
  }
  &__address {
    margin-top: 20px;
    font-weight: 400;
    font-size: $small-text;
    line-height: 1.7;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__social-tittle {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $white-color;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 1.14;
  }
  &__social-block {
    display: block;
    margin: 60px 0;
    // margin-left: 70px;
  }
  &__social-list {
    display: flex;
    margin: 0;
  }
  &__social-item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  &__icon {
    fill: $white-color;
  }
  // &__subscription {
  // display: block;
  // width: 570px;
  // margin-left: auto;
  // }
  &__subscription-tittle {
    // margin-bottom: 20px;
    text-transform: uppercase;
    color: $white-color;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 1.14;
  }
  &__subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    // gap: 12px;
  }
  // &__subscription-form {
  //   width: 100%;
  // }
  &__icon-send {
    fill: currentColor;
    margin-left: 10px;
  }
}

.site-logo--inverse {
  color: $white-color;
}

.footer [href^="mail"],
.footer [href^="tel"] {
  opacity: 0.6;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: $small-text;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $white-color;
  &:hover,
  &:focus {
    color: $blue-text;
  }
}

.footer__input-email {
  margin: 20px 0;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bgc-footer;
  transition: border $transition-duration $timing-function;
  &:hover,
  &:focus {
    border: 1px solid $blue-text;
    outline: none;
  }
}

.footer__send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: $middle-text;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 0;
  // margin-left: auto;
  color: $white-color;
  background-color: $blue-text;
  transition: background-color $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
