.site-header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  // font-weight: 700;
  // line-height: 1.16;
  // font-size: $text-24;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $header-border;
  &__container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 0 15px;
  }
  &__navigation {
    // display: flex;
    // justify-content: space-evenly;
    align-items: baseline;
  }
  &__pages {
    display: none;
    @include tablet {
      margin-left: 93px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__page {
    margin-left: 50px;
    position: relative;
  }
  &__contacts {
    display: none;
    @include tablet {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
  &__contact {
    display: flex;
    margin-left: 30px;
    align-items: center;
  }
  &__page:first-child,
  &__contact:first-child {
    margin-left: 0;
  }
  &__link {
    color: $title-color;
    display: block;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__contact-link {
    display: flex;
    align-items: center;
    color: $main-text-color;
  }
  &__link--active {
    color: $blue-text;
    position: relative;
  }
  &__text {
    color: $txt-logo;
    font-size: $text-24;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  &__icon-mail {
    fill: currentColor;
    margin-right: 10px;
    margin-bottom: 0;
    transition: color $transition-duration $timing-function;
    .site-header__contact-link &:hover,
    .site-header__contact-link &:focus {
      color: $blue-text;
    }
  }
  &__icon-tel {
    fill: currentColor;
    margin-right: 10px;
    transition: color $transition-duration $timing-function;
    .site-header__contact-link &:hover,
    .site-header__contact-link &:focus {
      color: $blue-text;
    }
  }
  &__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $blue-text;
    border-radius: 2px;
    position: absolute;
    bottom: -1.5px;
  }
  &__menu {
    display: flex;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    margin-left: auto;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
}

.site-logo {
  // margin: 25px 0;
  color: $blue-text;
  font-family: "Raleway";
  font-size: $text-24;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
