.site-header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $header-border;
  &__container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    @include tablet {
      justify-content: space-between;
    }
    @include desktop {
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 10px;
    }
  }
  &__navigation {
    align-items: baseline;
    @include tablet {
      display: flex;
      padding: 0 15px;
    }
    @include desktop {
      padding: 0;
    }
  }
  &__pages {
    display: none;
    @include tablet {
      margin-left: 90px;
      display: flex;
      gap: 50px;
      font-weight: 500;
      font-size: $small-text;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $title-color;
    }
  }
  &__page {
    margin-left: 50px;
    position: relative;
    @include tablet {
      margin: 0;
    }
  }
  &__contacts {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 500;
      font-size: $form-text;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: $main-text-color;
    }
    @include desktop {
      flex-direction: row;
      font-size: $small-text;
      line-height: 1.14;
      gap: 30px;
    }
  }
  &__contact {
    display: flex;
    margin-left: 30px;
    align-items: center;
    @include tablet {
      margin: 0;
    }
  }
  &__contact [href^="mail"] {
    @include tablet {
      padding-top: 20px;
    }
    @include desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__contact [href^="tel"] {
    @include tablet {
      padding-bottom: 20px;
    }
    @include desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__page:first-child,
  &__contact:first-child {
    margin-left: 0;
  }
  &__link {
    color: $title-color;
    display: block;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    @include tablet {
      margin: 0;
    }
  }
  &__contact-link {
    display: flex;
    align-items: center;
    color: $main-text-color;
    @include desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__link--active {
    color: $blue-text;
    position: relative;
  }
  &__text {
    color: $txt-logo;
    font-size: $text-24;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  &__icon-mail {
    fill: currentColor;
    margin-right: 10px;
    margin-bottom: 0;
    transition: color $transition-duration $timing-function;
    @include tablet {
      width: 14px;
      height: 10px;
    }
    @include desktop {
      width: 16px;
      height: 12px;
    }
    .site-header__contact-link &:hover,
    .site-header__contact-link &:focus {
      color: $blue-text;
    }
  }
  &__icon-tel {
    fill: currentColor;
    margin-right: 10px;
    transition: color $transition-duration $timing-function;
    @include tablet {
      width: 10px;
      height: 14px;
    }
    @include desktop {
      width: 10px;
      height: 16px;
    }
    .site-header__contact-link &:hover,
    .site-header__contact-link &:focus {
      color: $blue-text;
    }
  }
  &__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $blue-text;
    border-radius: 2px;
    position: absolute;
    bottom: -1.5px;
  }
  &__menu {
    display: flex;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    margin-left: auto;
    &:hover,
    &:focus {
      fill: $blue-text;
      background-color: $white-color;
      box-shadow: none;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
}
.site-logo {
  color: $blue-text;
  font-family: "Raleway";
  font-size: $text-24;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 26px;
  padding-bottom: 26px;
  @include desktop {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
