.site-header {
  max-width: 1600px;
  margin: 0;
  border-bottom: 1px solid $header-border;
}
@media screen and (min-width: 480px) {
  .site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: 15px;
    // padding-right: 15px;
    margin: 0;
    // width: 480px;
  }
  .site-logo {
    color: $blue-text;
    font-family: "Raleway";
    font-size: $logo-size;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .site-header__text {
    color: $txt-logo;
  }
  .site-header__menu {
    display: inline-flex;
    fill: $title-color;
    margin: 10px 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .site-header__pages {
    display: none;
  }
  .site-header__contacts {
    display: none;
  }
}
