.section {
  padding: 60px 0;
  margin: 0 auto;
  &__container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @include tablet {
      width: 768px;
      padding: 0 15px;
    }
    @include desktop {
      width: 1200px;
      padding: 0 15px;
    }
  }
  &__filters {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @include mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    @include tablet {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 575px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__filter-button {
    font-weight: 500;
    font-size: $middle-text;
    line-height: 1.6;
    padding: 6px 22px;
  }
}
