.section {
  &__filters {
    display: flex;
    margin: 0 auto 50px;
    justify-content: center;
  }
  &__filter-button {
    padding: 6px 22px;
  }
  &__filter {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
