$title-color: #212121;
$main-text-color: #757575;
$blue-text: #2196f3;
$white-color: #fff;
$background-commands: #f5f4fa;
$bgc-footer: #2f303a;
$txt-logo: #000;
$button-hover-color: #188ce8;
$header-border: #ececec;
$card-border: #eeeeee;
$icon: #afb1b8;
$form-text: 12px;
$small-text: 14px;
$middle-text: 16px;
$large-text: 18px;
$modal-text: 20px;
$logo-size: 26px;
$h2-text: 36px;
$h1-text: 44px;
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
